form{
    border: solid 1px ;
    border-radius: 8px;
    background-color: rgba(120, 150, 150, .9);
    box-shadow: 0px 0px 15px 0px gray;
    width: 25%;
    margin: 0 auto;
}

form >div{
    border: none;
}

#greeting{
    visibility: hidden;
}